{% extends 'pysite/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<h2> Upload document </h2>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Upload Book</button>
</form>
{% endblock %}