{% extends 'pysite/base.html' %}

{% block content %}
<h2> Reset your password </h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Send confirmation link</button>
</form>

{% endblock %}