{% extends 'pysite/base.html' %}

{% block content %}
<h2> Set new password </h2>
{% if validLink %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
</form>
{% else %}
<p style="color:red"> Invalid token </p>
<a href="{% url 'password_reset' %}">Request a new password reset token </a>
</p>

{% endblock %}

{% endblock %}