{% extends 'pysite/base.html' %}


{% block content %}
<h2> You have been logout </h2>>

<div class="border-top pt-3">
    <small class="text-muted" hreg="{% url'login' %}"> Login again <a class="ml-2" href="#">Sign </a>

    </small>

</div>
{% endblock %}